# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with Litmus
*.out

# Dependency directories (remove the block below if you want to check in your vendor folder)
# vendor/

# Project specific binaries
cmd/cm/cm
quectel-cm-go

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
.gitignore
sms-test
worktrees/
docs/
/.workflow/
